@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    margin: 0;
    padding: 0;
}

:root{
    --background-color-primary: hsl(213, 19%, 18%);
}


body{
    background-color: hsl(216, 12%, 8%);
    display: grid;
    place-items: center;
    min-height: 100vh;
}

p, span{
    font-size: 15px;
}

h2{
    color: white;
    margin-top: 25px;
}

p{
    color:hsl(217, 12%, 63%);
    margin-top: 10px;
    line-height: 1.5;
}

.rating-wrapper{
    background-color: var(--background-color-primary);
    border-radius: 25px;
    width: 25rem;
    padding: 25px;
    position: relative;
}

.rating-selector{
    display: flex;
    justify-content: space-between;
    color: hsl(217, 12%, 63%);
    margin-top: 25px;
}

.rating-number{
    cursor: pointer;
}

.rating-number:hover{
    background-color: hsl(25, 97%, 53%) !important;
    border: 6px solid hsl(25, 97%, 53%) !important;
    color: white !important;
}

.circle{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;
    background: hsl(212, 22%, 23%);
    border: 6px solid hsl(212, 22%, 23%);
    text-align: center;
    
}


.rating-submit{
    margin-top: 25px;
    width: 100%;
    border: none;
    background-color: hsl(25, 97%, 53%);
    color: white;
    padding: 10px 0;
    border-radius: 25px;
    cursor: pointer;
    vertical-align: middle;
    font-weight: 700;
    letter-spacing: 3px;
}

.rating-submit:hover{
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.error-message{
    color: rgb(247, 102, 102);
    font-size: 12px;
    animation: error-appear 0.5s linear;
    text-align: center;
    display: none;
}

@keyframes error-appear {
    0%{
        color: white;
    }

    100%{
        color: rgb(247, 102, 102);
    }
    
}

.rating-submitted{
    display: none;
    background-color: var(--background-color-primary);
    border-radius: 25px;
    width: 25rem;
    padding: 37px 30px;
    text-align: center;
}

.selected{
    background-color: hsl(212, 19%, 26%);
    color: hsl(25, 97%, 53%);
    border-radius: 500px;
    padding: 5px;
    width: 55%;
    margin: 25px auto;

}


